# Set default behavior to LF line endings
* text=auto eol=lf

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.java text
*.html text
*.css text
*.js text
*.xml text
*.yml text
*.yaml text
*.json text
*.md text
*.properties text
*.sql text

# Declare files that will always have CRLF line endings on checkout (Windows-specific)
*.bat text eol=crlf
*.cmd text eol=crlf
run.cmd text eol=crlf
mvnw.cmd text eol=crlf

# Declare files that will always have LF line endings on checkout (Unix-specific)
*.sh text eol=lf
mvnw text eol=lf
run.sh text eol=lf
.git-hooks/* text eol=lf

# Denote all files that are truly binary and should not be modified
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.fla binary
*.swf binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary
*.eot binary
*.woff binary
*.woff2 binary
*.pyc binary
*.pdf binary
*.jar binary 