<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="CONSOLE">
            <PatternLayout pattern="[%d{yyyy-MM-dd'T'HH:mm:ss.SSS'Z'}] [%p] %m%n"/>
        </Console>

        <File name="MAIN" fileName="log/main.log">
            <PatternLayout pattern="[%d{yyyy-MM-dd'T'HH:mm:ss.SSS'Z'}] [%p] %m%n"/>
        </File>

        <File name="DEBUG_LOG" fileName="logs/debug.log">
            <PatternLayout pattern="[%d{yyyy-MM-dd'T'HH:mm:ss.SSS'Z'}] [%p] %m%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="MAIN"/>
        </Root>

        <Logger name="com.zbib.hiresync" level="debug" additivity="false">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="MAIN"/>
            <AppenderRef ref="DEBUG_LOG" level="debug"/>
        </Logger>
    </Loggers>
</Configuration>